body.light > main > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 8fr 2fr;
    padding: 5px;
    max-width: 50%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
    background-color:#eeeff1;
    padding: 15px;
}

body.dark > main > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 8fr 2fr;
    padding: 5px;
    max-width: 50%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
    background-color: 	#1e1e1e;
    padding: 15px;
}

input {
    display: block;
    max-width: 250px;
    padding: 3px;
    margin: 0px 3px 3px;
}

body.dark >main>form>input, body.dark >main>form>textarea {
    background-color: #3e3e42;
    color: white;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    text-decoration: underline;
    ;
}
#post {
    color: white;
    background-color: rgb(15, 15, 15);
}

@media screen and (max-width: 992px) {
    body.light > main > form, body.dark > main > form {
      max-width: 90%;
    }

    #blogs {
        display: block;
        float: none;
        max-width: 90%;
        max-height: 35%;
    }
  }

  @media screen and (min-width: 1024px) {
    body.light > main > form, body.dark > main > form {
        max-width: 90%;
      }

  }

