form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 8fr 2fr;
    max-width: 50%; 
    min-width: 400px;
    max-height: 100%;
    min-height: 600px;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 4%;
    margin: 5px;
    background-color: rgb(193, 193, 193);
    padding: 15px;
}

label{
    font-style: bolds;
}
label, input {
    display: block;
    max-width: 250px;
    padding: 3px;
    margin: 3px;
}

#post {
    color: white;
    background-color: rgb(15, 15, 15);
}


