* {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    }
header {
    border-bottom: 3px solid gray;
    padding: 5px 5px;
    margin :3px;
}


/* Dark/Light mode body*/
.dark {
    color: white;
    background-color: rgba(42, 40, 47, 0.773);
    transition: background-color 1s;
}
.light {
    background-color: lightblue;
    transition: background-color 1s;
}

/*Dark/Light mode header*/
.light header {
    background-color: lightgray;
}
.dark header {
    background-color: black;
}

/*Dark/Light mode button*/
button.dark {
    background-color: lightgray;
    max-width: 50px;
}

button.light{
    background-color: rgb(255, 254, 234);
    max-width: 50px;
}